<% layout('layout') -%>
<h2>Групи</h2>
<a href="/groups/new">Додати групу</a>
<ul>
  <% groups.forEach(g => { %>
    <li><%= g.name %> 
      [<a href="/groups/edit/<%= g.id %>">ред.</a>] 
      [<a href="/groups/delete/<%= g.id %>">x</a>]
    </li>
  <% }) %>
</ul>
