<%- include('layout', { body: null }) %>

<h1>Ласкаво просимо до системи "Деканат"</h1>

<% if (session.role === 'employee') { %>
  <p>
    <a href="/groups/create">Створити групу</a> |
    <a href="/students/create">Створити студента</a>
  </p>
<% } %>

<p>
  <a href="/groups">Переглянути групи</a> |
  <a href="/students">Переглянути студентів</a>
</p>

