<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8" />
  <title>Деканат - Головна</title>
</head>
<body>
  <h1>Вітаємо в системі Деканату</h1>
  <nav>
    <ul>
      <li><a href="/groups">Список груп</a></li>
      <li><a href="/groups/create">Створити групу</a></li>
      <li><a href="/students">Список студентів</a></li>
      <li><a href="/students/create">Створити студента</a></li>
    </ul>
  </nav>
</body>
</html>
