<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <title>Головна - Деканат</title>
</head>
<body>
  <h1>Вітаємо в системі Деканат</h1>
  <ul>
    <li><a href="/groups">Переглянути групи</a></li>
  </ul>
</body>
</html>
