<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <title>Деканат</title>
</head>
<body>
  <nav>
    <a href="/">Головна</a> |
    <a href="/groups">Групи</a>
  </nav>
  <hr>
  <%- body %>
</body>
</html>
