<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <title>Деканат</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Деканат</h1>
  <nav>
    <a href="/groups">Групи</a> |
    <a href="/students">Студенти</a>
  </nav>
  <hr>
  <%- body %>
</body>
</html>
