<%- include('layout', { body: null }) %>
<h2>Студенти</h2>
<form action="/students/search">
  <input name="name" placeholder="Прізвище">
  <input name="group" placeholder="Група">
  <button type="submit">Пошук</button>
</form>
<ul>
  <% students.forEach(student => { %>
    <li><%= student.lastName %> <%= student.firstName %> (<%= student.group %>)</li>
  <% }) %>
</ul>
